{% liquid
  assign target = 'requests-archive'
  assign fields = 'id, name, email'
  assign columns = 'ID, Name, Email' | split: ', '
%}

<div class="hidden px-4 sm:px-6 lg:px-8" id="users-requests-archive">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1>
      <p className="mt-2 text-sm text-gray-700">
        A list of all users who requested access to the customer's list (archived)
      </p>
    </div>
  </div>

  <users-list class="mt-8 flow-root" data-target="{{ target }}" data-fields="{{ fields }}">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              {% for column in columns %}
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                  {{ column }}
                </th>
              {% endfor %}
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Go </span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200" data-body></tbody>
        </table>
      </div>
    </div>
  </users-list>
</div>
