<requests-lists class="hidden px-4 sm:px-6 lg:px-8" id="requests">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Requests for user "user_name"</h1>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">ID</th>
              <th scope="col" class="py-3.5 pr-3 text-left text-sm font-semibold text-gray-900">Product Title</th>
              <th scope="col" class="py-3.5 pr-3 text-left text-sm font-semibold text-gray-900">Variant Title</th>
              <th scope="col" class="py-3.5 pr-3 text-left text-sm font-semibold text-gray-900">Location</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Go </span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200" data-body></tbody>
        </table>
      </div>
    </div>
  </div>
</requests-lists>

<script async="defer" src="{{ 'requests.js' | asset_url }}"></script>
